.DS_Store
*~
*.ko
*.tmp*
*.cmd
*.cmd.*
*.o
*.a
*.cpio
*.lzma
*.lds
*.mod.c
*.order
*.builtin
*vmlinux
logo_*
Image
zImage
.version
.config
.config.old
.cproject
.project
.settings
.settings/*
.initramfs*
.missing-syscalls.d
*generated*
*boot*
*compressed*
auto.conf
autoconf.h
compile.h
asm-offsets.s
bounds.s
initramfs_data.cpio
gen_init_cpio
initramfs_data.c
Module.symvers
Module.order
