.DS_Store
*~
*.ko
*.tmp*
*.cmd
*.cmd.*
*.o
*.a
*.cpio
*.lzma
*.lds
*.mod.c
*.order
*.builtin
*vmlinux
logo_*
Image
zImage
.version
./common/.config
./common/.config.old
.cproject
.project
.settings
.settings/*
.initramfs*
.missing-syscalls.d
./common/System.map
*generated*
*boot*
*compressed*
auto.conf
autoconf.h
compile.h
asm-offsets.s
bounds.s
initramfs_data.cpio
gen_init_cpio
gen_crc32table
initramfs_data.c
Module.order
./common/Module.symvers
./common/modules.builtin
Tools/*

