# CyanogenMod Extras

# Compcache - handle at boot
service compcache /system/bin/handle_compcache
    user root
    group root
    oneshot


###Bootsound - Safe to Delete: Start ###

service bootsound /system/bin/bootsound
user media
group audio
disabled
oneshot

on property:init.svc.samsungani=running # to correct timing
start bootsound

on property:dev.bootcomplete=1
stop bootsound

### Bootsound - Safe to Delete: End ###
