#
#
#

menuconfig SAMSUNG_MODULES
	tristate "Samsung Kernel Modules"
	default m
	help
	  Say Y to enable Samsung kernel modules. j4fs and param
	  modules are included.

menuconfig J4FS
	tristate "Samsung J4FS support"
	depends on SAMSUNG_MODULES
	default m
	help
	  Say Y to enable Samsung J4FS support.

menuconfig VIBETONZ
	tristate "Vibetonz"
	depends on SAMSUNG_MODULES
	default m
	help
	  Say Y to enable Vibetonz support.
