

# Dpram configuration
#

config DPRAM
       tristate "Using smem as dpram"
       ---help---
		Include this for using smem as dpram for communication between modem and appl.
config DPRAM_WHITELIST
       bool "Using dpram to send whitelist port infos"
       ---help---
		Include this for using whitelist.
